:root {
    background: #061115;
    color: #66ebf2;
    font-family: monospace;
    font-size: 12pt;
    font-weight: 400;
}

main {
    width: 50vw;
    margin: 0 auto;
    padding: 10px;
}

@media(max-width: 1000px) {
    main {
        width: 80vw;
    }
}

.day {
    position: relative;
    left: -1.5em;
    color: #66caf2;
}

.day::before {
    content: attr(id)
}

hr {
    border-color: #66ebf2;
    outline: none;
}